.Dashboard {
  .Grid {
    background-color: var(--white);
    display:grid;
    grid-template-columns: 200px 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 725px;
    height: calc(100vh - 115px);
    min-height: 545px;
    border-right: 1px solid var(--secondary-mid);
    border-left: 1px solid var(--secondary-mid);

    div:first-child {
      margin-top: 125px;
    }
  }
}